.gallery{
    display:flex;
    width:calc(100% + 20px);
    margin-left:-10px;

}
.gallery>ul{
    padding:20px 10px;
    box-sizing: border-box;
    width:25%;

}
.gallery>ul>li{
    padding-bottom:30px;
}
.gallery>ul img{
    width:100%;
}