.gnb>li>.active::after{/*홈 글씨 아래 초록색 동그라미*/
    content:"";
    display:block;
    width:7px;
    height:7px;
    background-color:#009a32;
    border-radius:50%;
    position:absolute;
    left:50%;
    transform: translate(-50%);
    bottom:-26px;
}
.sub_nav{
    width:100%;
    border-bottom:1px solid #d9d9d9;
    white-space: nowrap;

}
.sn_liwrap{
    width:1200px;
    margin:auto;

}
.sn_liwrap>ul{
    display:flex;
}
.sn_liwrap>ul>li>a{
    line-height:49px;
    color:#222624;
    font-weight:700;
    display:inline-block;
    margin-right:30px;
    font-size:15px;

}
.sn_liwrap .active{
    color:#009a32;
}


/*******************MAIN START************************/
section{
    width:1200px;
    margin:auto;
    padding:30px 0 50px;
}
.title_wrap{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.title_wrap>h2{
    line-height:63px;
    font-size:25px;
    font-weight:700;
    color:#222624;
}
.more>a{
    padding-right:17px;
    background-image: url(../img/arrow04_r.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size:7px auto;
    color:#009a32;
    font-size:16px;
    line-height:31px;
    font-weight:700;
}
.tab_wrap{
    display:flex;
    justify-content: space-between;
}
.tab{
    display:flex;
    padding-top:10px;
}
.tab>li>a{
    color:#4d4d4d;
    font-size:14px;
    padding:0 13px;
    line-height:37px;
    background-color: #f2f2f2;
    display:block;
    border-radius: 4px;
    margin-right:8px;
}

.tab .list_active{
    background-color:#009a32;
    color:#fff;
}
.tab_wrap>p{
    color:#4d4d4d
}
.date{
    font-size:16px;
    color:#000000;
}

.lank{
    width:100%;
    margin-top:30px;
    display:flex;
    justify-content: space-around;
    padding:0 30px;
    box-sizing: border-box;

}

.lank>div{
    width:33.33%;
    height:100px;
    display:flex;
    box-sizing: border-box;
    background-color: #f8f8f8;
    margin-right:20px;
    position: relative;

}
.lank_img{
    width: 70px;
    height: 70px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    overflow:hidden;
    margin:10px 20px;
}
.lank_img>img{
    width:100%;
}
.lank_con{
    width:calc(100% - 110px);/*동그라미가 모양 유지되려면*/
    padding:20px 20px 20px 0;
    box-sizing: border-box;
}
.lank_con>a{
    display:block;
    font-size:18px;
    color:#4d4d4d;
    white-space:nowrap;
    overflow:hidden; 

}
.lank_con>a>span{
    font-size: 13px;
    color: #009a3e;

}
.lank_con>p{
    width:100%;
    font-size:14px;
    color:#808080;
    padding-top:10px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap; 
}
.lank>div>p{
    width:17px;
    height:17px;
    position:absolute;
    background-color: #009a3e;
    color:#fff;
    font-size:11px;
    font-weight:700;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    top:0;
    left:0;
}
.m_date{
    display:none; 
 }
.holder{
    width:100%;
    height:2px;
    margin:51px auto 0;
    background-color:  #f2f2f2;

 }
/******************SECTION2 START*****************************/
.week_story{
    display:flex;
    width:calc(100% + 20px);
    flex-wrap:wrap;
    overflow:hidden;
}
.one_wrap{
    width:calc(25% - 20px);
    margin:30px 20px 0 0;
}
.one_wrap>a{
    width:100%;
    display:block;
    overflow:hidden;
}

.week_img{
    width:100%;
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 4px;
    position:relative;
    overflow:hidden;
    padding-top:66.67%;
    
}
.one_wrap .week_img1{
    background-image:url(../img/s220413_12135514.jpeg);
}
.one_wrap .week_img2{
    background-image: url(../img/s220411_12554114.jpg);
}
.one_wrap .week_img3{
    background-image:url(../img/s220411_1959084464.jpeg);
}
.one_wrap .week_img4{
    background-image: url(../img/s220411_1214547306.jpeg);
}
.one_wrap .week_img5{
    background-image: url(../img/s220409_1507164464.jpeg);
}
.one_wrap .week_img6{
    background-image: url(../img/s220406_162742611.jpg);
}
.one_wrap .week_img7{
    background-image: url(../img/s220405_1422537306.jpeg);
}
.one_wrap .week_img8{
    background-image: url(../img/s220403_1608084464.jpeg);
}


.one_wrap .scrap{
    display:block;
    width:31px;
    height:40px;
    background-image: url(../img/scrap.png);
    background-size:100% auto ;
    position: absolute;
    right:12px;
    bottom: 13px;
    
}
/* .one:hover .img1, .two:hover .img2,.three:hover .img3,.four:hover .img4,.five:hover .img5,.six:hover .img6,.seven:hover .img7,.eight:hover .img8{
    transform: scale(1.05);
    transition: transform .4s ease-in-out;
}
.hover_active{
    transform: scale(1.05);
    transition: transform .4s ease-in-out;
} */


.one_wrap>a:first-child>p{
    margin-top:21px;
    color:#4d4d4d;
    font-size:14px;
}
.one_wrap .name{
    display:flex;
    margin-top:15px;
    align-items: center;
}
.name>div{
    width:35px;
    height:35px;

    background-size: 35px 35px;
    border-radius: 50%;
    background-repeat: no-repeat;
    margin-right:12px;
}
.name1{
    background-image: url(../img/220411_112605_jpg.jpg);
}
.name2{
    background-image: url(../img/220411_112605_jpg.jpg);
}
.name3{
    background-image: url(../img/210802_143646_jpeg.jpg);
}
.name4{
    background-image: url(../img/220327_101738_jpeg.jpg);
}
.name5{
    background-image: url(../img/210802_143646_jpeg.jpg);
}
.name6{
    background-image: url(../img/210226_142333_png.jpg);
}
.name7{
    background-image: url(../img/220327_101738_jpeg.jpg);
}
.name8{
    background-image: url(../img/210802_143646_jpeg.jpg);
}
.one_wrap .name>p{
    color:#4d4d4d;
    font-size:15px;
    display:block;
}
.m_more_contents{
    display:none;
}
/*************************SECTION3 START******************************/
.gallery{
    display:flex;
    width:calc(100% + 20px);
    margin-left:-10px;

}
.gallery>ul{
    padding:20px 10px;
    box-sizing: border-box;
    width:25%;

}
.gallery>ul>li{
    padding-bottom:30px;
}
.gal_img{
    position:relative;
    overflow: hidden;
}
.gal_img>img{
    width:100%;
}
.gal_img>.scrap{
    position:absolute;
    right:10px;
    bottom:10px;
    height:47px;
    width:41px;
    background-image: url(../img/scrap.png);
    background-size: 31px auto;
    background-repeat: no-repeat;
    background-position: center center;
}
.gal_img:hover .gimg1{
    transform: scale(1.05);
    transition: transform .4s ease-in-out;
}
.gal_img:hover .gimg2{
    transform: scale(1.05);
    transition: transform .4s ease-in-out;
}
.gal_img:hover .gimg3{
    transform: scale(1.05);
    transition: transform .4s ease-in-out;
}
.gal_img:hover .gimg4{
    transform: scale(1.05);
    transition: transform .4s ease-in-out;
}
.gal_img:hover .gimg5{
    transform: scale(1.05);
    transition: transform .4s ease-in-out;
}
.gal_img:hover .gimg6{
    transform: scale(1.05);
    transition: transform .4s ease-in-out;
}
.gal_img:hover .gimg7{
    transform: scale(1.05);
    transition: transform .4s ease-in-out;
}
.gal_img:hover .gimg8{
    transform: scale(1.05);
    transition: transform .4s ease-in-out;
}
.gal_img:hover .gimg9{
    transform: scale(1.05);
    transition: transform .4s ease-in-out;
}
.gal_img:hover .gimg10{
    transform: scale(1.05);
    transition: transform .4s ease-in-out;
}
.gal_img:hover .gimg11{
    transform: scale(1.05);
    transition: transform .4s ease-in-out;
}
.gal_img:hover .gimg12{
    transform: scale(1.05);
    transition: transform .4s ease-in-out;
}






/***************SECTION 4 START******************/
.guide_book{
    width:100%;

    background-color: #f2f2f2;
    padding:60px auto 80px;
    margin-top:80px;
}
.guide_1200w{
    width:1200px;
    margin:auto;
}
.guide_book>.title_wrap{
    width:100%;
}
.guide_photo{
    width:100%;
    overflow:hidden;
    justify-content: space-between;
    display:flex;
    margin:auto;

}
.guide_photo>a{
    width:calc(25% - 15px);
    overflow:hidden;
    display:flex;
    justify-content: space-between;
}
.guide_photo>a>div{
    width:100%;
    padding-top:129.824%;
    background-size:100% auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.guide_photo>a>.img1{
    background-image: url(../img/211213_093812_png.png);
}
.guide_photo>a>.img2{
    background-image: url(../img/211213_093741_png.png);
}
.guide_photo>a>.img3{
    background-image: url(../img/211213_093707_png.png);
}
.guide_photo>a>.img4{
    background-image: url(../img/211213_093642_png.png);
}

.singsing_tube{
    padding-top:100px;
}
.sstube_wrap{
    width:100%; 
}
.sstube_wrap>a{
    width:100%;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.tube_one{
    width:calc(25% - 15px);
    overflow:hidden;
}
.tube_img{
    over
}
.tube_one>div{
    width:100%;
    padding-top:55.042%;
    background-position: center center;
    background-size: 100% auto;
    overflow: hidden;
    position:relative;

}
.tube_one>.img1{
    background-image: url(../img/220413_100428.jpeg);
}
.tube_one>.img2{
    background-image: url(../img/220411_085344.jpeg);
}
.tube_one>.img3{
    background-image: url(../img/220406_094529.png);
}
.tube_one>.img4{
    background-image: url(../img/220331_102224.jpg);
}
.tube_one .scrap{
    position:absolute;
    right:10px;
    bottom:10px;
    height:47px;
    width:41px;
    background-image: url(../img/scrap.png);
    background-size: auto 100%;
    background-repeat: no-repeat;

}
.tube_one .time{
    position:absolute;
    border-top-right-radius: 4px;
    background-color: #000;
    padding:0 7px;
    line-height: 24px;
    color:#fff;
    font-weight:700;
    font-size:14px;
    bottom:0;
    left:0;


}
.tube_one .play{
    width:60px;
    height:60px;
    background-color: #fff;
    border-radius: 50%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50% , -50%);


}
.play::after{
    content: "";
    position: absolute;
    top: calc(50% - 7px);
    left: calc(50% - 4px);
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 12px solid #222624;

}

.tube_one:hover .img1{
    transform: scale(1.05);
    transition: transform .3s ease-in-out;
}
.tube_one:hover .img2{
    transform: scale(1.05);
    transition: transform .3s ease-in-out;
}
.tube_one:hover .img3{
    transform: scale(1.05);
    transition: transform .3s ease-in-out;
}
.tube_one:hover .img4{
    transform: scale(1.05);
    transition: transform .3s ease-in-out;
}
.tube_one:hover p{
    text-decoration: underline;
}
.tube_one>p{
    font-size:14px;
    line-height:20px;
    margin-top:21px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:#4d4d4d;
}
/***************SECTION 5 START******************/
.mg_wrap{
    width:calc(100% + 20px);
    margin-left:-10px;
    display:flex;    
}
.mg_wrap>a{
    width:33.333%;
    margin:10px;

}
.mg_img1>div{
    width:100%;
    padding-top:45.4%;
    background-image: url(../img/211201_164008_jpg.jpg);
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.mg_img2>div{
    width:100%;
    padding-top:45.4%;
    background-image: url(../img/211021_094710_jpg.jpg);
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.mg_img3>div{
    width:100%;
    padding-top:45.4%;
    background-image: url(../img/211001_093655_jpg.jpg);
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.mg_img1:hover .left{
    transform: scale(1.05);
    transition: transform .4s ease-in-out;
}
.mg_img2:hover .center{
    transform: scale(1.05);
    transition: transform .4s ease-in-out;
}
.mg_img3:hover .right{
    transform: scale(1.05);
    transition: transform .4s ease-in-out;
}


/******************SECTION 6 START****************************/
.qa_wrap{
    width:1200px;
    margin:auto;
}
.qa{
    width:100%;

}
.qa>a{
    display:flex;
    height:116px;
    padding:34px 165px 34px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #D9D9D9;
}
.qa:last-child>a{
    border-bottom:none;
}
.qa_img{
    width:123px;
    height:100%;
    padding:0 30px 0 37px;
    box-sizing: border-box;
}
.qa_img>.img{
    width:54px;
    height:54px;
    border-radius: 100%;
    border:1px solid #d9d9d9;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow: hidden;
}
.qa_img>.img1{
    background-image: url(../img/profile.jpg);
}
.qa_img>.img2{
    background-image: url(../img/profile.jpg);
}
.qa_img>.img3{
    background-image: url(../img/p220305_2346027275.jpeg);
}
.qa_txt{
    width:calc(100% - 123px);
    color:#808080;
}
.qa_txt>span{
    display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:14px;
    line-height:23px;
}
.qa_txt>p{
    font-size:16px;
    line-height:25px;
}

@media only screen and (max-width: 1200px) {
    .sub_nav{
        padding:0 23px;
        box-sizing: border-box;

    }
    .sn_liwrap{
        width:100%;
    }
    .sn_liwrap>ul>li>a{
        line-height:39px;
    }
    section{
        width:100%;
        padding:21px 20px 70px;
        box-sizing: border-box;
    }
    .title_wrap>h2{
        line-height:57px;
        font-size:23px;
    }
    .tab>li>a{
        font-size:13px;
        padding:0 9px;
    }
    .lank{
        padding:0;
    }
    .lank>div{
        height:83px;
    }
    .lank_img{
        width: 50px;
        height: 50px;
    }
    .lank_con{
        padding:15px 10px 15px 0;
    }
    .lank_con>a{
        font-size:15px;
    }
    .lank_con>a>span{
        font-size: 12px;
    }
    .lank_con>p{
        font-size:14px;
        padding-top:7px;
    }
    .more>a{
        padding-right:12px;
        background-size:5px auto;
        font-size:14px;
        line-height:22px;
    }
    .week>.tab_wrap{
        white-space:nowrap;
    }
    .one_wrap{
        width:calc(25% - 14px);
        margin:21px 14px 0 0;
    }
    .one_wrap>a>.img>.scrap{
        width:29px;
        height:34px;
        background-size: 22px auto;
        bottom:7px;
        right:7px;
    }
    .one_wrap>a>p{
        margin-top:15px;
        font-size:13px;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
    }
    .one_wrap .name{
        display:flex;
        margin-top:11px;
        align-items: center;
    }
    .one_wrap .name>div{
        width:23px;
        height:23px;
        background-size: 23px 23px;
        border-radius: 50%;
        margin-right:5px;
    }
    .one_wrap .name>p{
        font-size:14px;
    }
    .guide_book{
        padding:42px auto 56px;
        margin-top:56px;
    }
    .guide_1200w{
        width:100%;
    }
    .singsing_tube{
        padding-top:70px;
    }
    .tube_one>p{
        font-size:13px;
        line-height:18px;
        margin-top:15px;
    }
    .tube_one .scrap{
        right:7px;
        bottom:7px;
        height:47px;
        width:41px;
    }
    .tube_one .time{
        padding:0 7px;
        line-height: 24px;
        font-size:14px;
    }
    .tube_one .play{
        width:42px;
        height:42px;
    }
    .play::after{
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 12px solid #222624;
    }
    .qa_wrap{
        width:100%;
    }
    .qa>a{
        height:82px;
        padding:24px 120px 24px 0;
        box-sizing: border-box;
        
    }
    .qa_img{
        width:88px;
        padding:0 20px 0 26px;
    }
    .qa_img>.img{
        width:38px;
        height:38px;
    }
    .qa_txt{
        width:calc(100% - 88px);
    }
    .qa_txt>span{
        font-size:13px;
        line-height:16px;
    }
    .qa_txt>p{
        font-size:14px;
        line-height:18px;
    }




    .holder{
        margin:36px auto 0;
     }
    




    
}


@media only screen and (max-width: 767px) {
    .dis{
        display:none;
    }
    .sub_nav{
        padding:0 23px;
    }
    .sn_liwrap>ul>li>a{
        line-height:49px;
    }
    section{
        width:100%;
        padding:20px 23px 40px;
    }
    .title_wrap>h2{
        line-height:29px;
        font-size:22px;
    }
    .tab>li>a{
        font-size:14px;
        padding:0 14px;
    }
    .week>.tab_wrap{
        white-space:nowrap;
    }
    .week>.tab_wrap>.tab{
        width:200%;
        overflow-x: scroll;
    }
    .date{
        display:none;
    }
    .m_date{
        display:block;
        text-align: center;
        font-size:13px;
        margin-top:20px;

    }
    .lank_wrap{
        width:100%;
        overflow-x:scroll;
    }
    .lank{
        width:calc(200% + 20px);
    }
    .lank>div{
        height:73px;
        margin:
    }
    .lank_img{
        width: 48px;
        height: 48px;
    }
    .lank_con>a{
        font-size:14px;
    }
    .lank_con>a>span{
        font-size: 11px;
    }
    .lank_con>p{
        font-size:11px;
        padding-top:4px;
    }
    .more{
        display:none;
    }
    .one_wrap{
        width:calc(50% - 15px);
        margin:20px 15px 0 0;
    }
    .m_more_contents{
        display:block;
        padding-top:30px;
        text-align: center;
    }
    .m_more_contents>a{
        display:inline-block;
        width:233px;
        height:40px;
        background-color: #d9d9d9;
        text-align: center;
        border-radius:20px;

    }
    .m_more_contents>a>span{
        
        color:#4d4d4d;
        display:inline-block;
        
        line-height:39px;
        font-size:14px;
        font-weight:400;
        padding-right:15px;
        background-image: url(../img/arrow05_r.png);
        background-size: 5px auto;
        background-position: right center;
        background-repeat: no-repeat;
    }
    .gallery{
        flex-wrap:wrap;
    }
    .gallery>ul{
        width:50%;
    }
    .popular_photo>li{
        width:calc(50% - 15px);
        margin:20px 15px 0 0;   
    }
    .guide_book{
        padding:35px auto 40px;
        margin-top:50px;
    }
    .guide_1200w{
        width:100%;
        overflow-x: scroll;
    }
    .guide_photo{
        width:240%;
    }
    .guide_photo>a{
        width:57%;
        display:flex;
        margin-right:14px;
    }
    .guide_photo>a>div{
        width:100%;
        padding-top:129.824%;
        background-size:100% auto;
        background-repeat: no-repeat;
        background-position: center center;
    }   
    .singsing_tube{
        padding-top:50px;
    }
    .tube_one{
        width:calc(50% - 15px);
        overflow:hidden;
        margin:20px 15px 0 0;

    }
    .tube_one>p{
        font-size:13px;
        line-height:20px;
        margin-top:11px;
    }
    .tube_one .scrap{
        right:3px;
        bottom:3px;
        height:33px;
        width:37px;

    }
    .tube_one .time{
        padding:0 7px;
        line-height: 24px;
        font-size:14px;
    }
    .tube_one .play{
        width:30px;
        height:30px;
    }
    .mg_wrap{
        width:100%;
        margin-left:0;
        flex-wrap:wrap;
    }
    .mg_wrap>a{
        width:100%;
        margin:20px 0 0 0;
    
    }
    .qa>a{
        height:99px;
        padding:16px 0 9px 0;
        box-sizing: border-box;
    }
    .qa_img{
        width:72px;
        padding:0 13px 0 0;
    }
    .qa_img>.img{
        width:55px;
        height:55px;
    }
    .qa_txt{
        width:calc(100% - 72px);

        
    }
    .qa_txt>span{
        font-size:13px;
        line-height:20px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        min-height:20px;
        max-height: 40px;
        white-space: normal;


    }
    .qa_txt>p{
        font-size:13px;
        line-height:34px;
    }





    .holder{
        display:none;
     }








}